<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" (click)="irListaPage()" color="tertiary"></ion-back-button>
    </ion-buttons>
    
    <ion-title>{{ lista.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-list>
          <ion-item ><!-- color="medium" -->
            <ion-label>
              <strong>Precio del Dolar</strong>
              <p>

                <ion-input 
                  class="backg-white"
                  type="number"
                  (input)="actualizarPrecioDolar($event)" 
                  value="{{ lista.precioDolar | number}}"></ion-input>
                </p>
              </ion-label>
          </ion-item>

          <ion-item ><!-- color="dark" -->
            <ion-label slot="end">
              <strong>Total de la compra</strong>
              <p>
                {{ totalDolares }}$ / {{ totalBolivares }} Bs
              </p>

            </ion-label>
          </ion-item>
      </ion-list>
      

  <div class="container">
    <ion-list>
      <ion-button (click)="agregarProducto()">
        <ion-label>Agregar nuevo producto</ion-label>
      </ion-button>
    </ion-list>
  </div>
  
  

  <ion-list>
  
    <!-- Multi-line sliding item with icon options on both sides -->
    <ion-item-sliding #sliding
      *ngFor="let item of lista.productos">

      <ion-item
        [color]="getColor(item.comprado)">
        <ion-checkbox 
          slot="start"
          [(ngModel)]="item.comprado"
          (ionChange)="comprado(item)"></ion-checkbox>
        <ion-label>
          <h2><strong [ngClass]="{'comprado': item.comprado}">{{ item.cantidad }}<small>{{ item.unidad }}</small> {{ item.nombre }}</strong></h2>
          <p><strong>Costo:</strong><span [ngClass]="{'costo-red': item.costo == 0, 'costo': true}" class="costo-red"> {{ item.costo }}$</span></p>
        </ion-label>
        <ion-note slot="end">
          <strong>Total {{total(item)}}$</strong>
        </ion-note>
      </ion-item>

      <!-- Boton inicio - mover a otra lista -->
      <ion-item-options side="start">
        <ion-item-option>
          <ion-icon slot="icon-only" name="arrow-undo-outline" (click)="cambiarDeLista(item.id)"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <!-- Botones al final - eliminar, editar -->
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" (click)="eliminar(item, sliding)" name="trash-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="editar(item, lista.productos, sliding)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  
  
  </ion-list>



</ion-content>

<!-- <pre>
  {{ lista.productos | json }}
</pre> -->